.barre {
  height: 52px;
  background-color: #ff6060;
  border-radius: 5px;
  padding: 0 20px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barre__p {
  margin: 0;
}

.barre-container {
  width: 68%;
}