.barre {
  height: 52px;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 0 20px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
}
.barre__p {
  margin: 0;
}

.barre-container {
  width: 68%;
}
.barre-container img {
  cursor: pointer;
  transition: transform 0.3s;
}
.barre-container img.rotated {
  transform: rotate(-180deg);
}