.carrousel {
  position: relative;
  width: 1240px;
  height: 415px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.carrousel img {
  cursor: pointer;
}

.carrousel img:not(.image-slide) {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carrousel img:first-child {
  left: 23px;
}

.carrousel img:last-child {
  right: 23px;
}