.descriptionLogement {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  height: 200px;
  line-height: 30px;
}
.descriptionLogement ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.descriptionLogement__p {
  margin: 0;
}
.descriptionLogement.visible {
  opacity: 1;
  max-height: 200px;
}
.descriptionLogement__text {
  color: #ff6060;
  text-align: left;
  font-size: 20px;
  max-width: 90%;
  margin: 0;
  padding: 15px 30px 30px 20px;
}