.banniere__text {
  color: #fff;
  font-size: 48px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-cadre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  padding: 56px 50px 43px 50px;
  overflow-y: auto;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin: 0 100px 43px 100px;
}
